body {
  background-color: #f1f1f1;
  margin: 0;
  overflow-y:hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5vw 1vw 1vw 1vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height:100vh;
}

p {
  font-weight: 500;
  font-size: 4vw;
  margin-bottom: -1vw;
}

input[type="text"] {
  padding: 1vw;
  margin-left: 2vw;
  width: 10vw;
  border: 0.5px solid black;
  border-radius: 3px;
  font-size: 1vw;
  font-family: 'Calibri';
  line-height: 0;
}

input:focus{
  border: 0.5px solid lightblue;
  outline: none;
}
a {
  color: #879dd3;
  text-decoration: none;
}
a:visited {
  color: #879dd3;
}

.suggestions {
  list-style: none;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 0;
  max-width: 100%;
  max-height: 100vh;
  background-color: #fff;
}

.suggestions li {
  padding: 0.5vw;
  font-size: 1vw;
}

.suggestions .even {
  background-color: #eeddee;
}

.suggestions .odd {
  background-color: #e2c7e2;
}
