tr:nth-child(even){
    background-color: rgb(238,208,237);
}

tr:nth-child(odd){
    background-color:  rgb(241,232,237);
}

table{
    width: 100%;
}

td{
    padding: 10px;
}

input{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
}
